@page "/products"
@page "/products/{CategoryId}"

<h3>Category Products</h3>

<fieldset class="mb-3">
	<legend>Category Selection</legend>
	<div class="row row-cols-lg-auto g-3 align-items-center">
		<div class="cols-12">
			<label class="visually-hidden" for="category">Category:</label>
			<select class="form-select" id="category" @bind="CategoryId">
				<option selected disabled>Select a category</option>
				@if (Categories != null)
				{
					@foreach (var category in Categories)
					{
						<option value="@category.CategoryId">@category.CategoryName</option>
					}
				}				
			</select>
		</div>
		<div class="cols-12">
			<button class="btn btn-primary" @onclick="HandleCategorySelect" >Get Products</button>
		</div>
	</div>
</fieldset>

<fieldset class="mb-3">
	<legend>Search for products</legend>
	<div class="row row-cols-lg-auto g-3 align-items-center">
		<div class="cols-12">
			<label class="visually-hidden" for="search">Search:</label>
			<input type="text" class="form-control" id="search" @bind="PartialSearch">
		</div>
		<div class="cols-12">
			<button class="btn btn-primary" @onclick="HandlePartialSearch">Search for Products</button>
		</div>
	</div>
</fieldset>

@if (Products != null)
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>Discontinued</th>
				<th>Supplier</th>
				<th>Unit Price</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var products in Products)
			{
				<tr>
					<td>@products.ProductId</td>
					<td>@products.ProductName</td>
					<td>@products.Discontinued</td>
					<td>@products.Supplier.CompanyName</td>
					<td class="text-end">@($"{products.UnitPrice:C}")</td>
				</tr>
			}
		</tbody>
	</table>
}
